:root {
    --darkgray: #1d1d1d;
    --blue: #142539;
    --lightblue: #2B8FD8;
    --darkblue: #091B30;
}

body {
    background-color: #121b2d;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1c2a4d;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

header h2 {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

h2 img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.underline {
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left: 0;
    top: 23px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-link {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

input {
    outline: none;
    border: none;
}

.hover-arrow {
    border: none;
    background: var(--lightblue);
    width: 150px;
    height: 60px;
    border-radius: 5px;
    color: white;
    font: 400 20px Montserrat, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 20px;
    transition: 0.2s;
}

.hover-arrow img {
    height: 25px;
    opacity: 0;
    transition: 0.3s;
}

.hover-arrow:hover {
    margin-left: 20px;
    margin-right: 0 !important;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6)
}

.hover-arrow:hover img {
    opacity: 1;
    padding-left: 15px;
}